@import "../common/variables.css";

.toolbar {
  position: fixed;
  bottom: -50px;
  left: 0;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px 28px;
  color: white;
  transition: transform .3s;
}

.visible {
  transform: translateY(50px);
}

.mercurify {}
.markUnread {}
.saveForLater {}

.mercurify, .markUnread, .saveForLater {
  color: white;
}
