@import "../../variables.css";

.item {
  height: 100vh;
}

.cover, .body {
  position: relative;
  margin: 0;
  padding: calc($step * .5);
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
}

.cover {
  min-height: 100vh;
  background-color: #ee3399;
  color: white;
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 5;

  h1, h2, aside {
    position: relative;
  }

  h1 {
    color: white;
  }

  h1 {
    font-size: calc($step * 1.5);
    line-height: 1;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

.coverImage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
}

div:nth-child(0n+4) {

  .coverImageFixed {
    position: fixed;
    left: 300vw;
    width: 100vw;
  }

}


.body {
  position: relative;
  z-index: 10;
  background-color: white;
  padding: calc($step * .5);
  font-family: "Bodoni 72 Oldstyle", serif;
  hyphens: auto;

  img, video, iframe, pre {
    width: 100vw;
    max-width: 100vw !important;
    width: 100vw !important;
    height: auto !important;
    margin: 0 calc($step * .5 * -1);
    overflow: scroll;
  }

  a, a:active, a:visited {
    color: inherit !important;
  }

  figure {
    padding: 0;
    margin: 0 0 $step;
  }

  iframe {
  }
}

.fonts1 {
  .heading {
    font-family: "Avenir Next", sans-serif;
  }
  .body {
    font-family: "Bodoni 72 Oldstyle", serif;
  }
}

.fonts2 {
  .heading {
    font-family: "Didot", sans-serif;
  }
  .body {
    font-family: "Futura", serif;
  }
}

.fonts3 {
  .heading {
    font-family: "Futura", sans-serif;

    h1 {
      font-weight: 500;
    }
  }
  .body {
    font-family: "Hoefler Text", serif;
  }
}

.fonts4 {
  .heading {
    font-family: "Avenir", sans-serif;

    h1 {
      font-weight: 300;
    }
  }
  .body {
    font-family: "Hoefler Text", serif;
  }
}
.fonts5 {
  .heading {
    font-family: "Avenir Next", sans-serif;

    h1 {
      text-transform: uppercase;
    }
  }
  .body {
    font-family: "Bodoni 72 Oldstyle", serif;
  }
}

.fonts6 {
  .heading {
    font-family: "Didot", sans-serif;

    h1 {
      text-transform: uppercase;
    }
  }
  .body {
    font-family: "Futura", serif;
  }
}

.fonts7 {
  .heading {
    font-family: "Futura", sans-serif;

    h1 {
      font-weight: 500;
      text-transform: uppercase;
    }
  }
  .body {
    font-family: "Hoefler Text", serif;
  }
}

.fonts8 {
  .heading {
    font-family: "Avenir", sans-serif;

    h1 {
      font-weight: 300;
      text-transform: uppercase;
    }
  }
  .body {
    font-family: "Hoefler Text", serif;
  }
}